/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */
body
{
	background-color: #a0aa6d;
	color: #697335;
	font-family: Georgia, serif;
	font-size: 16px;
}

figure { margin-bottom: 1em; }

header
{
	background-image: url('/assets/img/branches.gif');
	background-repeat: no-repeat;
}

h1
{
	font-style: italic;
	padding-left: 1em;
	padding-top: 150px;
}

h2 { padding-left: 1em; }

footer
{
	margin-top: 1em;
	text-align: center;
}

.container { background-color: #e9eccf; }

.gradient
{
	/* ff3.6+ */
	/* safari4+,chrome */
	/* safari5.1+,chrome10+ */
	/* opera 11.10+ */
	/* ie10+ */
	background: linear-gradient(180deg, #e8ecd1 0%, #d1d7b1 100%);
	/* w3c */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e8ecd1', endColorstr='#d1d7b1', GradientType=0 );
	/* ie6-9 */
}

.pull-right { margin-left: 1em; }
